@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf');
}
.icon-label {
    -fx-font-family: iconfont;
}
.bank-name {
    -fx-font-size: 16px;
}
#Balance {
    -fx-font-size: 14px;
}