@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf');
}
.icon-label {
    -fx-font-family: iconfont;
    -fx-font-size: 16px;
}
#exitButton {
	-fx-font-family: iconfont;
    -fx-font-size: 25px;
    -fx-text-fill: #808080;
}

#LoginButton:hover {
    -fx-effect: dropshadow(three-pass-box,rgba(29,177,164,0.8),7, 0.0 , 0 , 0.5 );
}