@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf');
}
.icon-label {
    -fx-font-family: iconfont;
    -fx-font-size: 16px;
}
#exitButton {
	-fx-font-family: iconfont;
    -fx-font-size: 25px;
    -fx-text-fill: #808080;
}