@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf');
}


.icon-label {
    -fx-font-family: iconfont;

}
#AlertIcon {
    -fx-font-size: 60px;
    -fx-text-fill: red;
}
#addIcon {
    -fx-font-size: 20px;
    -fx-text-fill: #1db1a4;
}
#title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}