.nav-text {
    -fx-text-fill: #eeeeee;
    -fx-font-size: 16;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf');
}
.icon-label {
    -fx-font-family: iconfont;
    -fx-font-size: 25px;
    -fx-text-fill: #eeeeee;
}
#root {
    -fx-background-color: #272727;
}
#SalesReturnIcon {
	-fx-font-size: 28px;
}
