@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf');
}
.icon-label {
    -fx-font-family: iconfont;
    -fx-font-size: 20px;
    -fx-text-fill: #1db1a4;
}
#promotionType {
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-width: 2;
}