@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf');
}
.icon-label {
    -fx-font-family: iconfont;
    -fx-font-size: 20px;
    -fx-text-fill: #707070;
}
.jfx-snackbar-content {
    -fx-background-color: #1db1a4;
    -fx-opacity: 85%;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-spacing: 5;
    -fx-font-size: 12px;
    -fx-pref-height: 50px;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

.icons-badge .badge-pane {
    -fx-background-color: #ff4081;
    -fx-background-radius: 23;
    -fx-pref-width: 19;
    -fx-pref-height: 19;
    -fx-alignment: center;
}

.icons-badge Label {
    -fx-font-weight: BOLD;
    -fx-font-size: 14.0px;
    -fx-text-fill: WHITE;
}

#InfoIcon {
	-fx-font-size: 20px;
	-fx-text-fill: #707070;
}

#newIcon {
	-fx-font-family: iconfont;
    -fx-font-size: 30px;
    -fx-text-fill: #707070;
}
