<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/erpdatabase?characterEncoding=UTF-8</property>
		<property name="connection.username">root</property>
		<property name="connection.password">admin</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">validate</property>

		<mapping class="po.AccountBillItemPO" />
		<mapping class="po.AccountBillPO" />
		<mapping class="po.AccountPO" />
		<mapping class="po.BillPO" />
		<mapping class="po.CashBillItemPO" />
		<mapping class="po.CashBillPO" />
		<mapping class="po.ClassificationPO" />
		<mapping class="po.CustomerPO" />
		<mapping class="po.GoodsItemPO" />
		<mapping class="po.GoodsPO" />
		<mapping class="po.InventoryBillPO" />
		<mapping class="po.InventoryPO" />
		<mapping class="po.PromotionCustomerPO" />
		<mapping class="po.PromotionBargainPO" />
		<mapping class="po.PromotionTotalPO" />
		<mapping class="po.PurchasePO" />
        <mapping class="po.SalesPO"/>
		<mapping class="po.UserPO" />
        <mapping class="po.InitializationPO" />
        <mapping class="po.InitAccountPO" />
        <mapping class="po.InitCustomerPO" />
        <mapping class="po.InitGoodsPO" />
        <mapping class="po.InitClassificationPO" />
        <mapping class="po.LogPO" />
        <mapping class="po.MessagePO" />
	</session-factory>

</hibernate-configuration>